
<?xml version="1.0" encoding="UTF-8"?>
#if( $riskModel )
    <riskmodel id="$riskModel.getId()">
    #if($riskModel.getOrders() && $riskModel.getOrders().size() >0 )
    <orders>
        ## 遍历生成 orders
    #foreach($order in $riskModel.getOrders())<item name="$order.getName()"   desc="$order.getDesc()"  id="$order.getId()"  order="$order.getOrder()" refuse="$order.isRefuse()" points="$order.getPoints()" #if($order.getRefuseReason()) refuseReason="$order.getRefuseReason()"#end >
                <exp><![CDATA[ $order.getExpression() ]]></exp>
                <params>#foreach($para in $order.getParamNames())$para,#end</params>
                <paramNames>$order.getParamDescs()</paramNames>
            </item>
    #end
    </orders>
    #end

    #if($listGroup && $listGroup.size() > 0 )
    <decisions>
    ## 遍历生成 groups
    #foreach($group in $listGroup)

            <group name="$group.getName()"   desc="$group.getDesc()"  gid="$group.getGid()" start="$group.isStart()" points="$group.getPoints()" >
            #if($group.getItems() && $group.getItems().size() > 0)## 遍历生成 groups.item
            #foreach($item in $group.getItems())

                <item name="$item.getName()"   desc="$item.getDesc()"  id="$item.getId()" points="$item.getPoints()" falsecontinue="$item.getFalsecontinue()" truecontinue="$item.getTurecontinue()"  parentfalsecontinue="$item.getParentfalsecontinue()"  start="$item.isStart()">
                    <exp>$item.getExpression()</exp>
                    <params>#foreach($para in $item.getParamNames())$para,#end</params>
                #if($item.getNextList() &&$item.getNextList().size()>0)
                ## 遍历生成 group.item.next
                #foreach($itemNext in $item.getNextList())

                    <next id="$itemNext.getId()" >
                        <exp><![CDATA[ $itemNext.getExpression() ]]></exp>
                        <params>#foreach($para in $itemNext.getParamNames())$para,#end</params>
                    </next>
                #end
                #end

                </item>
                #end
            #end
            #if($group.getNextList() && $group.getNextList().size() > 0)
                ## 遍历生成 group.next
            #foreach($groupNext in $group.getNextList())

                <next id="$groupNext.getId()" >
                    <exp><![CDATA[ $groupNext.getExpression() ]]> </exp>
                    <params>#foreach($para in $groupNext.getParamNames())$para,#end</params>
                </next>
            #end
            #end

            </group>
    #end
    </decisions>
    #end
</riskmodel>
#end






