
RemoteSystemsTempFiles/.project
.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/70/607a336dd1a9001916a39d6dada81099
.metadata/.plugins/org.eclipse.core.resources/.history/f9/2038246dd1a9001916a39d6dada81099
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/test/.indexes/e4/b9/22/81/be/b5/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/test/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/test/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/test/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/test/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/test/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1154177904.index
.metadata/.plugins/org.eclipse.jdt.core/1205202229.index
.metadata/.plugins/org.eclipse.jdt.core/1241061354.index
.metadata/.plugins/org.eclipse.jdt.core/1270148546.index
.metadata/.plugins/org.eclipse.jdt.core/13224018.index
.metadata/.plugins/org.eclipse.jdt.core/1361341414.index
.metadata/.plugins/org.eclipse.jdt.core/1437053856.index
.metadata/.plugins/org.eclipse.jdt.core/1462381393.index
.metadata/.plugins/org.eclipse.jdt.core/1477809186.index
.metadata/.plugins/org.eclipse.jdt.core/1480331873.index
.metadata/.plugins/org.eclipse.jdt.core/1546371000.index
.metadata/.plugins/org.eclipse.jdt.core/1546697770.index
.metadata/.plugins/org.eclipse.jdt.core/1569982818.index
.metadata/.plugins/org.eclipse.jdt.core/1580211676.index
.metadata/.plugins/org.eclipse.jdt.core/1633976153.index
.metadata/.plugins/org.eclipse.jdt.core/1701348858.index
.metadata/.plugins/org.eclipse.jdt.core/174466593.index
.metadata/.plugins/org.eclipse.jdt.core/1759309876.index
.metadata/.plugins/org.eclipse.jdt.core/1768689780.index
.metadata/.plugins/org.eclipse.jdt.core/1792994383.index
.metadata/.plugins/org.eclipse.jdt.core/1798067330.index
.metadata/.plugins/org.eclipse.jdt.core/1804049897.index
.metadata/.plugins/org.eclipse.jdt.core/1828056675.index
.metadata/.plugins/org.eclipse.jdt.core/1955275441.index
.metadata/.plugins/org.eclipse.jdt.core/1958085694.index
.metadata/.plugins/org.eclipse.jdt.core/1988291195.index
.metadata/.plugins/org.eclipse.jdt.core/2019360477.index
.metadata/.plugins/org.eclipse.jdt.core/2070114470.index
.metadata/.plugins/org.eclipse.jdt.core/2103582156.index
.metadata/.plugins/org.eclipse.jdt.core/2113744196.index
.metadata/.plugins/org.eclipse.jdt.core/2147993770.index
.metadata/.plugins/org.eclipse.jdt.core/2156679132.index
.metadata/.plugins/org.eclipse.jdt.core/2205104111.index
.metadata/.plugins/org.eclipse.jdt.core/225070940.index
.metadata/.plugins/org.eclipse.jdt.core/2267584588.index
.metadata/.plugins/org.eclipse.jdt.core/2304447713.index
.metadata/.plugins/org.eclipse.jdt.core/2322319837.index
.metadata/.plugins/org.eclipse.jdt.core/2378731533.index
.metadata/.plugins/org.eclipse.jdt.core/2382334645.index
.metadata/.plugins/org.eclipse.jdt.core/2415290334.index
.metadata/.plugins/org.eclipse.jdt.core/2424303933.index
.metadata/.plugins/org.eclipse.jdt.core/243011201.index
.metadata/.plugins/org.eclipse.jdt.core/2443387967.index
.metadata/.plugins/org.eclipse.jdt.core/2449750810.index
.metadata/.plugins/org.eclipse.jdt.core/2456234755.index
.metadata/.plugins/org.eclipse.jdt.core/24713392.index
.metadata/.plugins/org.eclipse.jdt.core/2507431441.index
.metadata/.plugins/org.eclipse.jdt.core/2558998846.index
.metadata/.plugins/org.eclipse.jdt.core/2584637907.index
.metadata/.plugins/org.eclipse.jdt.core/2601731466.index
.metadata/.plugins/org.eclipse.jdt.core/2633963445.index
.metadata/.plugins/org.eclipse.jdt.core/2701727520.index
.metadata/.plugins/org.eclipse.jdt.core/2759268752.index
.metadata/.plugins/org.eclipse.jdt.core/2768770114.index
.metadata/.plugins/org.eclipse.jdt.core/2772409453.index
.metadata/.plugins/org.eclipse.jdt.core/2794831833.index
.metadata/.plugins/org.eclipse.jdt.core/2825335866.index
.metadata/.plugins/org.eclipse.jdt.core/28282518.index
.metadata/.plugins/org.eclipse.jdt.core/2855929690.index
.metadata/.plugins/org.eclipse.jdt.core/2973522145.index
.metadata/.plugins/org.eclipse.jdt.core/2977431090.index
.metadata/.plugins/org.eclipse.jdt.core/3007416941.index
.metadata/.plugins/org.eclipse.jdt.core/3037071313.index
.metadata/.plugins/org.eclipse.jdt.core/3106596320.index
.metadata/.plugins/org.eclipse.jdt.core/3106933587.index
.metadata/.plugins/org.eclipse.jdt.core/316340601.index
.metadata/.plugins/org.eclipse.jdt.core/3177351915.index
.metadata/.plugins/org.eclipse.jdt.core/3187666355.index
.metadata/.plugins/org.eclipse.jdt.core/3211580979.index
.metadata/.plugins/org.eclipse.jdt.core/322630591.index
.metadata/.plugins/org.eclipse.jdt.core/3231399384.index
.metadata/.plugins/org.eclipse.jdt.core/3231666577.index
.metadata/.plugins/org.eclipse.jdt.core/3246067635.index
.metadata/.plugins/org.eclipse.jdt.core/3271193799.index
.metadata/.plugins/org.eclipse.jdt.core/3325382982.index
.metadata/.plugins/org.eclipse.jdt.core/3339748103.index
.metadata/.plugins/org.eclipse.jdt.core/3356734196.index
.metadata/.plugins/org.eclipse.jdt.core/3397255409.index
.metadata/.plugins/org.eclipse.jdt.core/3461027282.index
.metadata/.plugins/org.eclipse.jdt.core/3529408171.index
.metadata/.plugins/org.eclipse.jdt.core/359867443.index
.metadata/.plugins/org.eclipse.jdt.core/365088790.index
.metadata/.plugins/org.eclipse.jdt.core/366416497.index
.metadata/.plugins/org.eclipse.jdt.core/366682743.index
.metadata/.plugins/org.eclipse.jdt.core/3674328432.index
.metadata/.plugins/org.eclipse.jdt.core/3690500405.index
.metadata/.plugins/org.eclipse.jdt.core/3704160680.index
.metadata/.plugins/org.eclipse.jdt.core/3787291631.index
.metadata/.plugins/org.eclipse.jdt.core/3893568549.index
.metadata/.plugins/org.eclipse.jdt.core/3909811243.index
.metadata/.plugins/org.eclipse.jdt.core/3946846827.index
.metadata/.plugins/org.eclipse.jdt.core/3985562703.index
.metadata/.plugins/org.eclipse.jdt.core/4088200831.index
.metadata/.plugins/org.eclipse.jdt.core/4092097529.index
.metadata/.plugins/org.eclipse.jdt.core/4228112593.index
.metadata/.plugins/org.eclipse.jdt.core/4263168033.index
.metadata/.plugins/org.eclipse.jdt.core/4290043210.index
.metadata/.plugins/org.eclipse.jdt.core/446728641.index
.metadata/.plugins/org.eclipse.jdt.core/469928546.index
.metadata/.plugins/org.eclipse.jdt.core/481151631.index
.metadata/.plugins/org.eclipse.jdt.core/490256513.index
.metadata/.plugins/org.eclipse.jdt.core/502883248.index
.metadata/.plugins/org.eclipse.jdt.core/567842908.index
.metadata/.plugins/org.eclipse.jdt.core/642777920.index
.metadata/.plugins/org.eclipse.jdt.core/644001490.index
.metadata/.plugins/org.eclipse.jdt.core/648932917.index
.metadata/.plugins/org.eclipse.jdt.core/654691939.index
.metadata/.plugins/org.eclipse.jdt.core/672911177.index
.metadata/.plugins/org.eclipse.jdt.core/884370450.index
.metadata/.plugins/org.eclipse.jdt.core/955368830.index
.metadata/.plugins/org.eclipse.jdt.core/9686918.index
.metadata/.plugins/org.eclipse.jdt.core/972123012.index
.metadata/.plugins/org.eclipse.jdt.core/997859859.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/test/2019/7/29/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/test/2019/7/29/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/_28.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/_28_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/_29.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/_29_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/_2a.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/segments_24
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c068278de1bc4caa7752a5f59b155a5/write.lock
.metadata/.plugins/org.eclipse.m2e.core/test.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/test.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.jayzee-a15717_4640/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.jayzee-a15717_4640/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.jayzee-a15717_4640/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
